<div class="search-form mt-4">
    <div class="container-fluid d-flex">
        <form  method="POST" class="d-flex">
            <input class="form-control me-2" name="q" type="text" placeholder="Nhập từ khoá"/>
            <select name="gender">
                <option value="">-- Chon giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>